<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljt.house.persistence.SolveMapper">
    <select id="selectAll" resultType="com.ljt.house.domain.Solve" parameterType="com.ljt.house.domain.QueryVo">
        select id,house_code houseCode,address,date,name,detail,status
        from solve
        <where>
            <if test="zuname!=null and zuname!=''">
                and name like '%${zuname}%'
            </if>
            <if test="dateFrom!=null and dateFrom!=''">
                and date &gt;= #{dateFrom}
            </if>
            <if test="dateTo!=null and dateTo!=''">
                and date &lt;= #{dateTo}
            </if>
            <if test="userlistId!=null and userlistId!=''">
                and userlist_id=#{userlistId}
            </if>
        </where>
    </select>

    <select id="selectCount" resultType="integer" parameterType="com.ljt.house.domain.QueryVo">
        select count(*)
        from solve
        <where>
            <if test="zuname!=null and zuname!=''">
                and name like '%${zuname}%'
            </if>
            <if test="dateFrom!=null and dateFrom!=''">
                and date &gt;= #{dateFrom}
            </if>
            <if test="dateTo!=null and dateTo!=''">
                and date &lt;= #{dateTo}
            </if>
            <if test="userlistId!=null and userlistId!=''">
                and userlist_id=#{userlistId}
            </if>
        </where>
    </select>
</mapper>