<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房屋租赁系统</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="../../../static/js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" src="../../../static/js/libs/modernizr.min.js" th:src="@{/js/libs/modernizr.min.js}"></script>
</head>
<body>
<div class="result-title">
    <h1>日程列表</h1>
</div>

<div>
    <form id="houseForm" name="houseForm"
          action="/schedule/selectAll"
          method="post">


        <div class="result-content">
            <table id=grid
                   class="result-tab" width="100%">
                <tbody>

                <tr style="font-weight: bold; font-style: normal; background-color: #eeeeee; text-decoration: none">
                    <td>日期</td>
                    <td>日程</td>
                    <td>操作</td>
                </tr>

                <tr style="font-weight: normal; font-style: normal; background-color: white; text-decoration: none" th:each="sch:${schedule}">
                    <td th:text="${sch.date}"></td>
                    <td th:text="${sch.content}"></td>
                    <td>
                        <a class="link-update"
                           th:href="'/schedule/toUpdate?id='+${sch.id}">修改</a>
                        &nbsp;&nbsp;
                        <!--<input type="hidden" name="id" th:text="${houselist.id}"/>-->
                        <a class="link-del"
                           th:href="'/schedule/deleteSchedule?id='+${sch.id}"
                           onclick="return window.confirm('确定删除吗？')"
                        >删除</a></td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <tr>
            <div th:replace="paging :: html"></div>
        </tr>
    </form>
</div>
<script language=javascript>
    // 提交分页的查询的表单
    function to_page(page) {
        if (page) {
            $("#page").val(page);
        }
        document.houseForm.submit();
    }
</script>
</body>
</html>