<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>房屋租赁系统</title>
    <!--Thymleaf中href始终以端口作为根路径，th:href会寻找项目路径作为根路径-->
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="../../static/js/localization/messages_zh.js" th:src="@{/js/localization/messages_zh.js}"></script>

</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>房屋租赁系统</h1>
        <form class="form" id="loginform" action="/user/loginCheck" method="post">
            <!--autocomplete="new-password" 关闭谷歌浏览器文字自动填充-->
            <!--placeholder="用户名" 填充input按钮底部文字-->
            <div><input type="text" class="text" name="username" placeholder="用户名" autocomplete="new-password"></div>
            <div><input type="password" class="text" name="password" placeholder="密码" autocomplete="new-password"></div>
            <div>
                <label class="radio inline">
                    <input id="admin" type="radio" name="type" value="admin"/> 管理员
                </label>
                <label class="radio inline">
                    <input id="zuke" type="radio" name="type" value="zuke"/> 租客
                </label>
            </div>
            <button type="submit" id="login">登录</button>
            <!--a标签定义超链接，用于从一个页面链接到另一个页面。-->
            <a class="register" href="javascript:location='/user/toRegister'">
                <button type="button" id="register">注册</button>
            </a>
        </form>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $().ready(function () {

        //$(".text").val("");//将class为text的置空

        // 在键盘按下并释放及提交后验证提交表单
        $("#loginform").validate({
            rules: {
                username: {
                    required: true,
                },

                password: {
                    required: true,
                },

                type: {
                    required: true,
                },

            },
            messages: {
                username: {
                    required: "请输入用户名",
                },

                password: {
                    required: "请输入密码",
                },

                type: {
                    required: "请选择类型",
                },
            }
        });
    })

    var error = [[${error}]];
    console.log(error);
    if (error == "该用户名不存在，请重新登录") {
        alert("该用户名不存在，请重新登录");
    } else if (error == "密码输入错误，请重新输入") {
        alert("密码输入错误，请重新输入");
    } else if (error == "类型选择错误") {
        alert("类型选择错误");
    } else if (error == "注册成功，登录后请及时绑定账户信息") {
        alert("注册成功，登录后请及时绑定账户信息");
    }
</script>
</body>
</html>